<!DOCTYPE html>
<html lang="en">

<head>
    {{~#if config.injectJs}}{{{config.injectJs}}}{{/if}}
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{#if admin}}
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!--[if IE]><link rel="SHORTCUT ICON" href="/images/favicon.png"/><![endif]-->
    {{else}}
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.ico"/><![endif]-->
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {{#if productDescription}}
    <meta name="description" content="{{snip productDescription}}">
    {{else}}
    {{#if metaDescription}}
    <meta name="description" content="{{snip metaDescription}}">
    {{else}}
    <meta name="description" content="{{snip config.cartDescription}}">
    {{/if}}
    {{/if}}
    <meta name="csrfToken" content="{{csrfToken}}">
    <meta name="keywords" content="{{config.cartTitle}}">
    <!-- CSS only -->
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- JS, Popper.js, and jQuery -->
    <link rel="stylesheet" href="/stylesheets/pushy{{config.env}}.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    {{#if admin}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/css/gijgo.min.css"
        integrity="sha256-bH0WSMuCFoG/dxeox/5aOWmaZl729yDg4ylckwSRTfU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.css"
        integrity="sha256-MdzaXfGXzZdeHw/XEV2LNNycipsLk4uZ0FYzO3hbuvI=" crossorigin="anonymous" />
    {{/if}}
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css"
        integrity="sha256-4qBzeX420hElp9/FzsuqUNqVobcClz1BjnXoxUDSYQ0=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/codemirror-style.min.css">
    <link rel="stylesheet" href="/stylesheets/etalage.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/style{{config.env}}.css"> --}}
    {{#if admin}}
    <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
    {{/if}}
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/vendor.css"> --}}
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/templatemo-lava.css">
    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/da9abaff04.js" crossorigin="anonymous"></script>
    {{!-- <script src="/javascripts/fontawesome.js"></script> --}}
    <script src="/javascripts/bootstrap.js"></script>
    {{!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> --}}
    {{#if admin}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gijgo/1.9.13/combined/js/gijgo.min.js"
        integrity="sha256-YZhUu69bCn9uTqQyKwwQ3GyRypS7eaxp/wmVS282sDI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/codemirror.min.js"
        integrity="sha256-K1exjHe1X4MP24jRizgBaSbUDUrNhFDRSwGoEYGmtJE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/css/css.min.js"
        integrity="sha256-D5oJ11cOmRhXSYWELwG2U/XYH3YveZJr9taRYLZ2DSM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.20.2/mode/xml/xml.min.js"
        integrity="sha256-ERFGS58tayDq5kkyNwd/89iZZ+HglMH7eYXxG1hxTvA=" crossorigin="anonymous"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.25.0/feather.min.js"
        integrity="sha256-NvgyqkM9Vu1DLHkzxTxXQxZNdDymUlwhXcSJEqUfPiU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"
        integrity="sha256-LlHVI5rUauudM5ZcZaD6hHPHKrA7CSefHHnKgq+/AZc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"
        integrity="sha256-4lietOiwRDBKx1goZZbRiwB06L+/bPYEGDIKZt82bgg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script src="/javascripts/jquery.bootpag.min.js"></script>
    <script src="/javascripts/cssbeautify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
    <script src="/javascripts/jquery.etalage.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/common{{config.env}}.js"></script>
    <script src="/javascripts/expressCart{{config.env}}.js"></script>
    {{#if admin}}
    <script src="/javascripts/admin{{config.env}}.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"
        integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
    <!-- SEO data -->
    {{#if pageUrl}}
    <link rel="canonical" href="{{pageUrl}}" />
    {{else}}
    <link rel="canonical" href="{{config.baseUrl}}" />
    {{/if}}
    <meta name="referrer" content="origin" />
    {{#if @root.config.facebookAppId}}
    <meta property="fb:app_id" content="{{@root.config.facebookAppId}}" />
    {{/if}}
    <meta property="og:site_name" content="{{config.cartTitle}}" />
    {{#if result.productTitle}}
    <meta property="og:type" content="product" />
    {{else}}
    <meta property="og:type" content="website" />
    {{/if}}
    <meta property="og:title" content="{{title}}" />
    {{#if pageUrl}}
    <meta property="og:url" content="{{pageUrl}}" />
    {{else}}
    <meta property="og:url" content="{{config.baseUrl}}" />
    {{/if}}
    {{#if result.productImage}}
    <meta property="og:image" content="{{config.baseUrl}}{{result.productImage}}" />
    {{/if}}
    {{#if productDescription}}
    <meta property="og:description" content="{{snip productDescription}}">
    {{else}}
    {{#if metaDescription}}
    <meta property="og:description" content="{{snip metaDescription}}">
    {{else}}
    <meta property="og:description" content="{{snip config.cartDescription}}">
    {{/if}}
    {{/if}}
    {{#if @root.config.twitterHandle}}
    <meta property="twitter:site" content="{{@root.config.twitterHandle}}">
    {{/if}}
    {{#if result.productTitle}}
    <meta property="twitter:card" content="product" />
    {{else}}
    <meta property="twitter:card" content="summary" />
    {{/if}}
    <meta property="twitter:title" content="{{title}}" />
    {{#if pageUrl}}
    <meta property="twitter:url" content="{{pageUrl}}" />
    {{else}}
    <meta property="twitter:url" content="{{config.baseUrl}}" />
    {{/if}}
    {{#unless result.productTitle}}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            {
                {
                    #
                    if result.productTitle
                }
            }
            "@type": "Product",
            "name": "{{result.productTitle}}",
            "offers": {
                "price": "{{result.productPrice}}",
                "priceCurrency": "{{config.currencyISO}}",
                "description": "{{snip productDescription}}",
                "sku": "{{result._id}}",
                "url": "{{pageUrl}}"
            },
            {
                {
                    else
                }
            }
            "publisher": "{{config.cartTitle}}",
            "@type": "WebSite",
            {
                {
                    /if}} { {#
                    if result.productImage
                }
            }
            "image": "{{config.baseUrl}}{{result.productImage}}",
            {
                {
                    /if}} { {#
                    if productDescription
                }
            }
            "description": "{{snip productDescription}}",
            {
                {
                    /if}} { {#
                    if result.productTitle
                }
            }
            "sku": "{{result._id}}",
            {
                {
                    /if}} { {#
                    if pageUrl
                }
            }
            "url": "{{pageUrl}}" {
                {
                    else
                }
            }
            "url": "{{config.baseUrl}}" {
                    {
                        /if}}
                    }
    </script>
    {{/unless}}
    <!-- SEO data -->
    {{~#if config.googleAnalytics}}{{{config.googleAnalytics}}}{{/if}}
    {{~#if config.customCss}}<style>
        {
                {
                    {
                    config.customCss
                }
            }
        }
    </style>{{/if}}
    {{#if admin}}
    <link rel="stylesheet" href="/stylesheets/admin{{config.env}}.css">
    {{else}}
    {{#if config.theme}}
    <link rel="stylesheet" href="/{{config.theme}}/style{{config.env}}.css">
    <script src="/{{config.theme}}/index{{config.env}}.js"></script>
    {{/if}}
    {{/if}}
</head>
{{#if admin}}

<body class="admin">
    {{else}}

    <body>
        {{/if}}
        {{#unless admin}}
 

    {{!-- Search Wrapper --}}

        <div class="search-wrapper padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form >
                            <input type="search" name="frm_search" id="frm_search" placeholder="Type your keyword...">
                            <button id="btn_search" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->

            <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <ul class="nav nav-tabs card-header-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" href="#signin-tab" data-toggle="tab"
                                    role="tab" aria-selected="true"><i class="fas fa-unlock marg-right-7"></i>Sign in</a>
                            </li>
                            {{!-- <li class="nav-item"><a class="nav-link" href="#signup-tab" data-toggle="tab" role="tab"
                                    aria-selected="false"><i class="czi-user mr-2 mt-n1"></i>Sign up</a></li> --}}
                        </ul>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body tab-content py-4 checkout_details_area">
                        <form class="needs-validation tab-pane fade show active" autocomplete="off" novalidate
                            id="signin-tab">
                            <div class="form-group">
                                <input class="form-control" type="email" id="email" name="email"
                                    placeholder="johndoe@example.com" required>
                                <div class="invalid-feedback">Please provide a valid email address.</div>
                            </div>
                            <div class="form-group">
                                <div class="password-toggle">
                                    <input class="form-control" type="password" id="password" name="password" placeholder="Password" required>
                                    <label class="password-toggle-btn">
                                        <input class="custom-control-input password-show" type="checkbox"><i
                                            class="fas fa-eye"></i><span class="sr-only">Show
                                            password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">
                                <div class="custom-control custom-checkbox mb-2">
                                    <input class="custom-control-input" type="checkbox" id="si-remember">
                                    <label class="custom-control-label" for="si-remember">Remember me</label>
                                </div><a class="font-size-sm" href="/customer/forgot-password">Forgot password?</a>
                            </div>
                            <button class="btn amado-btn" id="customerloginForm"
                                type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="/" class="logo">
                            Plant4u
                        </a>
                        <ul class="nav">
                            {{#each categories}}
                            <li class="submenu">
                                <a href="javascript:;">{{this.title}}</a>
                                <ul>
                                    {{#each this.submenu}}
                                    <li><a href="/category/{{this}}" class="menu-item">{{this}}</a></li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                            {{#if @root.session.customerPresent}}
                            <li class="submenu">
                                <a href="javascript:;">My Account <i class="far fa-user"></i></a>
                                <ul>
                                    <li><a href="/customer/account" class="menu-item">Profile</a></li>
                                    <li><a href="/checkout/cart" class="menu-item">Cart</a></li>
                                    <li><a href="/customer/logout" class="menu-item">Logout</a></li>
                                </ul>
                            </li>
                            {{else}}
                             <li class="scroll-to-section"><a class="menu-item" href="#signin-modal" data-toggle="modal">
                               My Account <i class="far fa-user"></i>
                            </a></li>
                            {{/if}}
                            <li class="scroll-to-section">  
                                <a class="" href="/checkout/cart">
                                    <i class="fas fa-shopping-cart"></i>
                                    <span class="">My
                                        Cart</span>
                                </a>
                            </li>
                            <li class="scroll-to-section">
                                <a href="#" class="search-nav"><i class="fas fa-search"></i> Search</a>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    {{/unless}}
        <div class="site-overlay"></div>

        {{!-- Full Cart Page --}}
        {{#unless admin}}
        {{#ifCond page '!=' 'checkout'}}
        {{#ifCond page '!=' 'pay'}}
        <div id="cart" class="col-md-12 pad-left-12 pushy pushy-right">
            <div class="row {{checkout}} back-checkout">
                <div class="col-sm-12">
                    <button class="pushy-link" type="button"><i class="fas fa-chevron-left"></i> Back to
                        Grocery</button>
                </div>
            </div>
            <div class="row">
                <div id="cart" class="col-md-12">
                    {{> (getTheme 'cart')}}
                    <div class="row">
                        <div id="cart" class="col-md-12">
                            {{> (getTheme 'cart')}}
                            <div class="row">
                                <div class="col-sm-12 {{showCartButtons @root.session.cart}} bottom-marg-25">
                                    <button class="btn btn-danger float-left" id="empty-cart"
                                        type="button">{{ @root.__ "Empty cart" }}</button>
                                    <a href="/checkout/information"
                                        class="btn btn-primary float-right btn-checkout">Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/ifCond}}
        {{/ifCond}}
        {{/unless}}
        {{#if admin}}
        <div class="container-fluid h-100" id="container">
            <div class="row">
                {{{body}}}
            </div>
        </div>
        {{else}}
        <div class="nav-top container-fluid h-100" id="container">
            <div class="row">
                {{{body}}}
            </div>
        </div>
        {{/if}}


        <input type="hidden" id="input_notify_message" value="{{message}}">
        <input type="hidden" id="input_notify_messageType" value="{{messageType}}">
        <input type="hidden" id="cartCheckout" value="{{checkout}}">
        <input type="hidden" id="cartTheme" value="{{@root.config.theme}}">
        <input type="hidden" id="currencySymbol" value="{{@root.config.currencySymbol}}">
        {{#if @root.config.maxQuantity}} <input type="hidden" id="maxQuantity"
            value="{{@root.config.maxQuantity}}">{{/if}}
        <div id="notify_message"></div>
        {{#if showFooter}}
        

               {{!-- newsletter section --}}
        <section class="newsletter-area top-pad-100">
        <div class="container">
            <div class="row align-items-center">
                <!-- Newsletter Text -->
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="newsletter-text bottom-marg-100">
                        <h2>Subscribe for a <span>25% Discount</span></h2>
                        <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                    </div>
                </div>
                <!-- Newsletter Form -->
                <div class="col-12 col-lg-6 col-xl-5">
                    <div class="newsletter-form bottom-marg-100">
                        <form action="#" method="post">
                            <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
            <footer class="footer_area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="/"><img src="/images/logo.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/" target="_blank">Plant4U</a> team<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler bg-orange" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/customer/contact">Contact Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/customer/aboutus">About</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="">Explore</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/checkout/cart">Cart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/customer/account">Account</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
        
        {{/if}}
        <script src="/javascripts/pushy.min.js"></script>
        <script src="/javascripts/owl.carousel.min.js"></script>
        <script>
            $(document).ready(()=>{
                $('.noUi-handle').attr('tabindex',"0");
            });
        </script>
        {{#if admin}}
        {{> partials/globalSearchModal}}
        {{> partials/validationModal}}
        {{> partials/variantModal}}
        {{> partials/variantEditModal}}
        {{/if}}
        {{> partials/confirmModal}}
        <script>
            feather.replace();
        </script>
        <script>
            $('.carousel-category').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                rewind: true,
                responsive: {
                    0: {
                        items: 2,
                        nav: true
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 6,
                        nav: true,
                        loop: false
                    }
                }
            })
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                rewind: true,
                autoWidth: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    450: {
                        items: 2,
                        nav: false
                    },
                    700: {
                        items: 3,
                        nav: true
                    },
                    1000: {
                        items: 4,
                        nav: true,
                        loop: false
                    },
                    1300: {
                        items: 5,
                        nav: true,
                        loop: false
                    }
                }
            })
        </script>
    </body>

</html>