    <div class="page-title-overlap bg-dark2 pt-4">
        <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
            <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
                <nav aria-label="breadcrumb">
                    <ol
                        class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                        <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="fas fa-home"></i>Home</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
                <h1 class="h3 text-light mb-0">Your cart</h1>
            </div>
        </div>
    </div>
    <!-- Page Content-->
    <div class="container pb-5 mb-2 mb-md-4">
        <div class="row">
            <!-- List of items-->
            <section class="col-lg-8">
                <div class="d-flex justify-content-between align-items-center pt-3 pb-2 pb-sm-5 mt-1">
                    <h2 class="h6 text-light mb-0">Products</h2>
                    <a class="btn amado-btn" href="/"><i class="fas fa-left"></i>Continue
                        shopping</a>
                </div>

                <div class="cartBodyWrapper">
                    <!-- Item-->
                    
                     <div class="">
                        <div class="cart-table-area cart-table-area2">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each @root.session.cart}}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="/product/{{this.link}}">
                                            {{#if productImage}}
                                            <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                                            {{else}}
                                            <img src="/images/p5.jpeg" alt="{{this.title}} product image"></a>
                                            {{/if}}</a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{this.title}}</h5>
                                            <a data-cartid="{{@key}}" class="btn btn-delete-from-cart text-danger">Remove</a>
                                        </td>
                                        <td class="price">
                                            <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount this.totalItemPrice}}</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>Qty</p>
                                                <div class="quantity">
                                                    <span class="btn-qty-minus qty-minus" type="button"><i class="fas fa-minus"></i></span>
                                                    <input type="number" class="cart-product-quantity qty-text"
                                                        data-cartid="{{@key}}" data-id="{{this.productId}}" maxlength="2"
                                                        value="{{this.quantity}}">
                                                    <span class="btn-qty-add qty-plus" type="button"><i class="fas fa-plus"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {{/each}} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {{#if @root.session.cart}}
                    <a id="empty-cart" class="btn btn-danger">Empty Cart</a>
                    {{/if}}
            </section>
            <!-- Sidebar-->
            <aside class="col-lg-4 pt-4 pt-lg-0">
                <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">
                    {{#if @root.session.cart}}
                    <div class="cart-contents-shipping">
                        {{#ifCond @root.session.totalCartShipping '>' 0}}
                        <div class="text-center mb-3">
                            {{@root.session.shippingMessage}}: <strong
                                id="shipping-amount">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</strong>
                        </div>
                        {{else}}
                        <div class="text-center mb-3">
                            <span id="shipping-amount"><strong>{{@root.session.shippingMessage}}</strong></span>
                        </div>
                        {{/ifCond}}
                        {{#ifCond @root.session.totalCartDiscount '>' 0}}
                        <div class="text-center mb-3">
                            Discount: <strong
                                id="discount-amount">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartDiscount}}</strong>
                        </div>
                        {{/ifCond}}
                         

                        <div class="text-center mb-4 pb-3 border-bottom">
                            <h2 class="h6 mb-2">Subtotal</h2>
                            <h3 class="font-weight-normal"><strong id="total-cart-amount">
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</strong>
                            </h3>
                        </div>
                     
                    </div>
                    <div class="accordion" id="order-options">
                        <div class="card">
                            {{#if @root.session.discountCode}}
                            <div class="pl-1 d-flex justify-content-between align-items-center">
                                <div>Promo Code: <strong>{{@root.session.discountCode}}</strong></div>
                                <button class="btn btn-danger float-right removepromocode"><i class="fas fa-times"></i></button>
                            </div>
                            {{else}}
                            <div class="card-header">
                                <h3 class="accordion-heading"><a href="#promo-code" role="button" data-toggle="collapse"
                                        aria-expanded="true" aria-controls="promo-code">Apply promo code <i class="fas fa-sort-up"></i></a></h3>
                            </div>
                            <div class="collapse show" id="promo-code" data-parent="#order-options">
                                <form class="card-body needs-validation" action="/checkout/adddiscountcode" method="post" novalidate>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Promo code" name="discountCode" id="discountCode"required>
                                        <div class="invalid-feedback">Please provide promo code.</div>
                                    </div>
                                    <button class="btn btn-outline-primary btn-block" id="addDiscountCode">Apply promo
                                        code</button>
                                </form>
                                <a class="viewpromo float-right" type="button" data-toggle="modal" data-target="#exampleModaloffers"><i class="fas fa-tags"></i> View All Offers</a>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <a class="btn amado-btn marg-17" href="/checkout/information">
                        <i class="fas fa-wallet" style="margin-right: 7px;"></i>Proceed to Checkout</a>
                    {{else}}
                    <div id="cart-empty" class="d-flex flex-row cart-empty-align">
                        <div class="cart-contents-shipping col-md-12 no-pad-left">
                            Cart empty
                        </div>
                    </div>
                    {{/if}}

                </div>
            </aside>
        </div>
    </div>

    <!-- Toolbar for handheld devices-->
    <div class="cz-handheld-toolbar">
        <div class="d-table table-fixed w-100"><a class="d-table-cell cz-handheld-toolbar-item"
                href="account-wishlist.html"><span class="cz-handheld-toolbar-icon"><i
                        class="czi-heart"></i></span><span class="cz-handheld-toolbar-label">Wishlist</span></a><a
                class="d-table-cell cz-handheld-toolbar-item" href="#navbarCollapse" data-toggle="collapse"
                onclick="window.scrollTo(0, 0)"><span class="cz-handheld-toolbar-icon"><i
                        class="czi-menu"></i></span><span class="cz-handheld-toolbar-label">Menu</span></a><a
                class="d-table-cell cz-handheld-toolbar-item" href="shop-cart.html"><span
                    class="cz-handheld-toolbar-icon"><i class="czi-cart"></i><span
                        class="badge badge-primary badge-pill ml-1">{{@root.session.totalCartItems}}</span></span><span
                    class="cz-handheld-toolbar-label">{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></a>
        </div>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span
            class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i
            class="btn-scroll-top-icon czi-arrow-up"> </i></a>