<div class="Wrapper-product top-marg-150" >
<div class="filter">

        <div class="shop_sidebar_area">

            <!-- ##### Single Widget ##### -->
            <div class="widget catagory bottom-marg-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Catagories</h6>

                <!--  Catagories  -->
                <div class="catagories-menu">
                    <ul>
                        <li class="active"><a href="#">All Indoor Plants</a></li>
                        <li><a href="#">Best Selling Plants</a></li>
                        <li><a href="#">New Arrival</a></li>
                        <li><a href="#">Room Freshner</a></li>
                        <li><a href="#">Minimal Care</a></li>
                        <li><a href="#">Gifting Plants</a></li>
                        <li><a href="#">Herbal Plants</a></li>
                    </ul>
                </div>
            </div>

            <!-- ##### Single Widget ##### -->
            <div class="widget brands bottom-marg-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Water Schedule</h6>

                <div class="widget-desc">
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="amado">
                        <label class="form-check-label" for="amado">Every alternative day</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ikea">
                        <label class="form-check-label" for="ikea">Once a day</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="furniture">
                        <label class="form-check-label" for="furniture">Once a week</label>
                    </div>
                    <!-- Single Form Check -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="factory">
                        <label class="form-check-label" for="factory">In two weeks</label>
                    </div>
                </div>
            </div>


            <!-- ##### Single Widget ##### -->
            <div class="widget price bottom-marg-50">
                <!-- Widget Title -->
                <h6 class="widget-title mb-30">Price</h6>

                <div class="widget-desc">
                       <div class="container">
            <div class="row">
                <div class="col-sm-12">
                <div id="slider-range"></div>
                </div>
            </div>
            <div class="row slider-labels">
                <div class="col-xs-12 caption">
                <span class="form-check-label" id="slider-range-value1"></span> - <span class="form-check-label" id="slider-range-value2"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <form>
                    <input type="hidden" name="min-value" value="">
                    <input type="hidden" name="max-value" value="">
                </form>
                </div>
            </div>
    </div>
                </div>
            </div>
        </div>
</div>
<div class="productsWrapper">
    {{#if filtered}}
        <div class="product-results col-sm-12">
                    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">10</a>
            <a class="dropdown-item" href="#">30</a>
            <a class="dropdown-item" href="#">All</a>
        </div>
        </div>
            {{#ifCond @root.paginateUrl '==' 'category'}}
            <h1>{{ @root.__ "Category" }} - <strong>{{@root.searchTerm}}</strong></h1>
            {{else}}
            <h1>{{ @root.__ "Search results" }} - <strong>{{@root.searchTerm}}</strong></h1>
            {{/ifCond}}
        </div>
    {{/if}}
    <div class="row product-layout">
        {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <img src="/images/no-product-found.png" alt="No Product Found" class="mx-auto">
            </div>
        {{/ifCond}}
        {{#each results}}
          <div class="col-12 col-sm-6 col-lg-5 col-xl-4">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                {{#if productImage}}
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpg" alt="Second Image">
                                {{/if}}
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                    {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6>{{this.productTitle}}</h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6>{{this.productTitle}}</h6>
                                    </a>
                                    {{/if}}
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart">
                                        <a class="btn-round" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"><img src="/images/cart.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {{/each}}
    </div>
</div> 
</div>
<button class="expand-filter">Filter<i class="fas fa-sort-amount-up-alt"></i></button>
