{{#if @root.session.customerPresent}}
<div class="cart-table-area section-padding-100 top-marg-150">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title checkout-title">
                                <div class="h6">
                                    <strong>Hello</strong> <br>
                                    <span>Customer</span>
                                </div>
                                <div class="h2">
                                    Checkout
                                </div>
                                 <a class="btn btn-danger" href="/customer/logout">Logout</a>
                            </div>

                            <div class="deliveryaddress">
                                Delivery Addresses
                            </div>
                                <div class="row top-marg-10">
                                    <div class="addresses w-100">
                                        {{#if customerArray.deliveryaddress}}
                                        {{#each customerArray.deliveryaddress}}
                                        <div class="address">
                                        <div class="number">
                                            {{#ifCond @root.session.customerAddress1 "==" this.address1}}
                                            <div>
                                            <img src="/images/tick1.png" alt="Choose Address">
                                            </div>
                                            {{/ifCond}}
                                            <div>
                                            <h4>{{this.firstname}} {{this.lastname}} {{this.phone}}</h4>
                                            </div>
                                        </div>
                                        <div class="add">
                                        {{this.address1}} {{this.city}} {{this.state}}, {{this.postcode}}
                                        </div>
                                        {{#ifCond @root.session.customerAddress1 "!=" this.address1}}
                                        <div class="button">
                                            <button class="usedropaddress" data-id="{{@key}}">Use This Address</button>
                                        </div>
                                        {{/ifCond}}
                                        </div>
                                        <hr>
                                        {{/each}}
                                        {{else}}
                                        {{!-- <h5 class="text-danger pl-2 top-marg-10 bottom-marg-10 text-centre w-100">
                                            <strong>No Delivery Address Available</strong>
                                        </h5> --}}
                                        <hr>
                                        {{/if}}
                                    </div>
                                    <div class="newaddress">
                                        <div class="addnewaddress col-12" id="addnew">
                                            <i class="fas fa-plus"></i>
                                            Add New Address
                                            <div class="float-right down">
                                                <i class="fas fa-sort-down"></i>
                                            </div>
                                        </div>

                                    <div class="collapse col-12 " id="dropdownnew">
                                        <form action="/checkout_action" method="post" class="row w-100">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name"
                     required>
                                    </div>
                                    
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name"
                    required>
                                    </div>
                                    
                                    
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipAddr1" name="shipAddr1" placeholder="Address"
                    required>
                                    </div>
                                   
                                <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPhone" name="shipPhone" placeholder="Phone number"
                    required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipCity" name="shipCity" placeholder="City"
                    required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code"
                    required>
                                    </div>
                                    
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipState" name="shipState" placeholder="State"
                     required>
                                    </div>
                                    <div class="button">
                                        <button class="btn btn-primary btn-block btn-shadow"  type="submit">ADD AND USE THIS</button>
                                    </div>
                                    </form>
                                    </div>
                                    </div>
                                </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @req.session.totalCartNetAmount}}</span></li>
                                {{#ifCond @root.session.totalCartShipping '>' 0}}
                                <li><span>delivery:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</span></li>
                                {{else}}
                                <li><span>delivery:</span> <span>Free</span></li>
                                {{/ifCond}}
                                {{#ifCond @root.session.totalCartDiscount '>' 0}}
                                <li><span>discount:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartDiscount}}</span></li>
                                {{/ifCond}}
                                <li><span>total:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                            </ul>

                            <div class="payment-method">
                                <!-- Cash on delivery -->
                                <div class="custom-control custom-radio mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="cod" {{#unless @root.session.orderidgenerated}}checked{{/unless}}>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>
                                <!-- Paypal -->
                                <div class="custom-control custom-radio mr-sm-2">
                                    <input type="radio" class="custom-control-input" id="razorpay" {{#if @root.session.orderidgenerated}}checked{{/if}}>
                                    <label class="custom-control-label" for="razorpay">RazorPay <br> <small>Internet Banking, Debit Card, Credit Card, UPI</small> <img class="ml-15" src="/images/paypal.png" alt=""></label>
                                </div>
                            </div>
                            {{#if @root.razorpayid}}
<button id="rzp-button1">Pay and Place Order</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {    "key": "{{@root.keyId}}", // Enter the Key ID generated from the Dashboard
        "amount": "{{@root.razoramount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise    
        "currency": "INR",
        "name": "Plant4u",
        "description": "Test Transaction",
        "image": "https://res.cloudinary.com/plant4u/image/upload/v1597585136/4_zwivhs.png",
        "order_id": "{{@root.razorpayid}}", //Pass the `id` obtained in the previous step       
        "handler": function (response){        
                    $.ajax({
                        method: 'POST',
                        url: '/checkout/confirm/razorpay',
                        data: {
                            razorpay_payment_id: response.razorpay_payment_id,
                            razorpay_order_id: response.razorpay_order_id,
                            razorpay_signature: response.razorpay_signature
                        }
                    })
                    .fail(function (msg){
                        console.log(msg);
                        showNotification(msg.responseJSON.message, 'danger');
                    });   
                    }};
        var rzp1 = new Razorpay(options);
        document.getElementById('rzp-button1').onclick = function(e){
                rzp1.open();
                e.preventDefault();
                }
        </script>
                       {{else}}    
                            <form action="/checkout_action" method="post" class="">
                            <div class="cart-btn mt-100">
                                <button  class="btn amado-btn w-100">Place Order</button>
                            </div>
                            </form>
                            {{/if}}
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>

{{else}}
<div class="cart-table-area section-padding-100 top-marg-150">
            <div class="container-fluid">
              <form action="/customer/register" method="post">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title checkout-title">
                                <div class="h6">
                                    <strong>Hello</strong> <br>
                                    <span>New User</span>
                                </div>
                                <div class="h2">
                                    Checkout
                                </div>
                                <a class="btn btn-primary" href="#signin-modal" data-toggle="modal">Login</a>
                            </div>

                            
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="shipPhoneNumber" name="shipPhoneNumber" placeholder="Phone number" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" id="shipEmail" name="shipEmail" placeholder="Email address" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipAddr1" name="shipAddr1" placeholder="Address" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipCity" name="shipCity" placeholder="City" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipState" name="shipState"
                                         placeholder="State" required>
                                    </div>
                                </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                                {{#ifCond @root.session.totalCartShipping '>' 0}}
                                <li><span>delivery:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</span></li>
                                {{else}}
                                <li><span>delivery:</span> <span>Free</span></li>
                                {{/ifCond}}
                                <li><span>total:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                            </ul>

                            <div class="cart-btn mt-100">
                                <button href="#" class="btn amado-btn w-100">Create Account</button>
                            </div>
                        </div>
                    </div>
                </div>
                 </form>
            </div>
        </div>
{{/if}}
<a class="btn-scroll-top" href="#top" data-scroll><span
    class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon czi-arrow-up">
  </i></a>
  <script>
      $('#addnew').on('click',()=>{
          if($('#dropdownnew').hasClass('show')){
              $('#dropdownnew').removeClass('show');
          }
          else{
            $('#dropdownnew').addClass('show');
          }
      
    });
  </script>