{{#if @root.session.customerPresent}}
<div class="cart-table-area section-padding-100 top-marg-150">
            <div class="container-fluid">
              <form action="/checkout_action" method="post">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title checkout-title">
                                <h2>Your Information</h2>
                            </div>

                            
                                <div class="row">
                                    {{#if @root.session.customerFirstname}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name"
                    value="{{@root.session.customerFirstname}}"  disabled>
                                    </div>
                                    {{else}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name"
                    value="{{@root.session.customerFirstname}}"  required>
                                    </div>
                                    {{/if}}
                                    {{#if @root.session.customerLastname}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name"
                    value="{{@root.session.customerLastname}}" disabled>
                                    </div>
                                    {{else}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name"
                    value="{{@root.session.customerLastname}}" required>
                                    </div>
                                    {{/if}}
                                    {{#if @root.session.customerPhone}}
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="shipPhoneNumber" name="shipPhoneNumber" placeholder="Phone number"
                    value="{{@root.session.customerPhone}}" disabled>
                                    </div>
                                    {{else}}
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="shipPhoneNumber" name="shipPhoneNumber" placeholder="Phone number"
                    value="{{@root.session.customerPhone}}" required>
                                    </div>
                                    {{/if}}
                                    {{#if @root.session.customerEmail}}
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" id="shipEmail" name="shipEmail" placeholder="Email address"
                    value="{{@root.session.customerEmail}}" disabled>
                                    </div>
                                    {{else}}
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" id="shipEmail" name="shipEmail" placeholder="Email address"
                    value="{{@root.session.customerEmail}}" required>
                                    </div>
                                    {{/if}}
                                    {{#if @root.session.customerAddress1}}
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipAddr1" name="shipAddr1" placeholder="Address"
                    value="{{@root.session.customerAddress1}}" disabled>
                                    </div>
                                    {{else}}
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipAddr1" name="shipAddr1" placeholder="Address"
                    value="{{@root.session.customerAddress1}}" required>
                                    </div>
                                    {{/if}}
                                    {{#if @root.session.customerPostcode}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code"
                    value="{{@root.session.customerPostcode}}" disabled>
                                    </div>
                                    {{else}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code"
                    value="{{@root.session.customerPostcode}}" required>
                                    </div>
                                    {{/if}}
                                    {{#if @root.session.customerState}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipState" name="shipState" placeholder="State"
                    value="{{@root.session.customerState}}" >
                                    </div>
                                    {{else}}
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipState" name="shipState" placeholder="State"
                    value="{{@root.session.customerState}}" required>
                                    </div>
                                    {{/if}}
                                    <div class="col-12 mb-3">
                                        <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Leave a comment about your order" disabled></textarea>
                                    </div>
                                </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                                {{#ifCond @root.session.totalCartShipping '>' 0}}
                                <li><span>delivery:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</span></li>
                                {{else}}
                                <li><span>delivery:</span> <span>Free</span></li>
                                {{/ifCond}}
                                <li><span>total:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                            </ul>

                            <div class="payment-method">
                                <!-- Cash on delivery -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cod" checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>
                                <!-- Paypal -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="/images/paypal.png" alt=""></label>
                                </div>
                            </div>

                            <div class="cart-btn mt-100">
                                <button  class="btn amado-btn w-100">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                 </form>
            </div>
        </div>

{{else}}
<div class="cart-table-area section-padding-100 top-marg-150">
            <div class="container-fluid">
              <form action="/customer/register" method="post">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title checkout-title">
                                <h2>Fill Information</h2>
                                <a class="btn btn-primary" href="#signin-modal" data-toggle="modal">Login</a>
                            </div>

                            
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name"
                    value="{{@root.session.customerFirstname}}" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name"
                    value="{{@root.session.customerLastname}}" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" id="shipPhoneNumber" name="shipPhoneNumber" placeholder="Phone number"
                    value="{{@root.session.customerPhone}}" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="email" class="form-control" id="shipEmail" name="shipEmail" placeholder="Email address"
                    value="{{@root.session.customerEmail}}" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipAddr1" name="shipAddr1" placeholder="Address"
                    value="{{@root.session.customerAddress1}}" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code"
                    value="{{@root.session.customerPostcode}}" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipState" name="shipState" value="{{@root.session.customerState}}"
                                         placeholder="State" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <textarea name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Leave a comment about your order"></textarea>
                                    </div>
                                </div>
                        
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>subtotal:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                                {{#ifCond @root.session.totalCartShipping '>' 0}}
                                <li><span>delivery:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartShipping}}</span></li>
                                {{else}}
                                <li><span>delivery:</span> <span>Free</span></li>
                                {{/ifCond}}
                                <li><span>total:</span> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount @root.session.totalCartAmount}}</span></li>
                            </ul>

                            <div class="payment-method">
                                <!-- Cash on delivery -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="cod" checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>
                                <!-- Paypal -->
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="/images/paypal.png" alt=""></label>
                                </div>
                            </div>

                            <div class="cart-btn mt-100">
                                <button href="#" class="btn amado-btn w-100">Create Account</button>
                            </div>
                        </div>
                    </div>
                </div>
                 </form>
            </div>
        </div>
{{/if}}
<a class="btn-scroll-top" href="#top" data-scroll><span
    class="btn-scroll-top-tooltip text-muted font-size-sm mr-2">Top</span><i class="btn-scroll-top-icon czi-arrow-up">
  </i></a>