<div id="account" class="col-md-12 mx-auto top-marg-150 back-user">
    <div class="row">
        <div id="content" class="col-11 col-sm-5 col-md-4 col-lg-3 bg-light1 accountside">

            <div class="account-right">
                <div class="helloaccount">
                    <div class="profileimg">
                        <img src="/images/profileimage.jpg" alt="profileimg">
                    </div>
                    <div class="profiledet">
                        <span class="text-green">Hello</span> <br>
                        <h6><strong>{{@root.session.customerFirstname}}</strong></h6>
                    </div>
                </div>
                <div class="account-part">
                    <div id="editDetails" class="acc-box">
                        <a href="/customer/account">
                            <span><i class="fas fa-info-circle"></i></span><span class="box-heading">Information<br>
                                <h5>Edit your details</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="editAddress" class="acc-box">
                        <a href="/customer/account/address">
                            <span><i class="fas fa-address-book"></i></span><span class="box-heading">Address<br>
                                <h5>Edit your address</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="passwordDetails" class="acc-box">
                        <a href="/customer/account/password">
                            <span><i class="fas fa-lock"></i></span><span>Password<br>
                                <h5>Change Your Passowrd</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="orderDetails" class="acc-box">
                        <a href="/customer/account/orders">
                            <span><i class="fas fa-clipboard-list"></i></span><span>Orders<br>
                                <h5>Check your Orders</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="newsletterDetails" class="acc-box">
                        <a href="/customer/account/newsletter">
                            <span><i class="fas fa-envelope"></i></span><span>Newsletter<br>
                                <h5>Subscribe for Newsletter</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-7 col-md-8 col-lg-9 padding-3 top-marg-10">
            {{#ifCond page "==" ""}}
            {{!-- Details Section --}}
            <div id="detailsForm" class="pagewrap checkout_details_area">
                <form id="customer-form" class="form formAccount row" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Personal Information</h4>
                    </div>
                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="email" class="container__label">Email</label>
                        <input type="email" class="container__input customerDetails form-control" id="shipEmail" name="shipEmail"
                            placeholder="Email address" value="{{@root.session.customerEmail}}" required></div>
                    <div class="container col-sm-6 top-marg-10">
                        <label id="userLabel" for="FirstName" class="container__label">First Name</label>
                        <input type="text" class="container__input customerDetails form-control" id="shipFirstname" name="shipFirstname"
                            placeholder="First name" value="{{@root.session.customerFirstname}}" required>
                        </div>
                    <div class="container col-sm-6 top-marg-10">
                        <label id="userLabel" for="LastName" class="container__label">Last Name</label>
                        <input type="text" class="container__input customerDetails form-control" id="shipLastname" name="shipLastname"
                            placeholder="Last name" value="{{@root.session.customerLastname}}" required>
                        </div>
                    <button class="btn amado-btn top-marg-25 ml-auto mr-3" id="customerSave" type="button" value="submit">Submit</button>
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "address"}}
            {{!-- address Section --}}
            <div id="addressForm" class="pagewrap formAddress">
                <form id="customer-form" class="form formAccount checkout_details_area row" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Address Information</h4>
                    </div>
                    {{> themes/Cloth/shipping-form}}

                    <button class="btn amado-btn top-marg-25 ml-auto mr-3" id="addressSave" type="button" value="submit">Submit</button>
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "password"}}
            {{!-- Password Section --}}
            <div id="passwordForm" class="pagewrap checkout_details_area">
                <form id="customer-form" class="form formAccount row" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Change Password</h4>
                    </div>
                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="pass" class="container__label">Password</label>
                        <input type="password" class="container__input customerDetails form-control" id="newCustomerPassword1" name="newCustomerPassword1" placeholder="Password"
                            value="" required>
                        </div>

                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="confirmPass" class="container__label">Confirm</label>
                        <input type="password" class="container__input customerDetails form-control" id="newCustomerPassword" name="newCustomerPassword"
                            placeholder="Confirm Pasword" value="" required>
                        </div>

                    <button class="btn amado-btn top-marg-25 ml-auto mr-3" id="passwordSave" type="button" value="submit">Submit</button>
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "newsletter"}}
            {{!-- Newsletter Section --}}
            <div id="newsletterForm" class="pagewrap newsContainer">
                <form id="customer-form" class="form formAccount" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Subscribe to Newsletter</h4>
                    </div>
                    <div class="d-flex form-group top-marg-25">
                    <label class="m-auto col-sm-2 control-label">Newsletter Subscription</label>
                    <div class="accountInput col-sm-10">
                        <label class="col-4 radio-inline">
                            <input class="col-4" type="radio" name="newsletter" value="1" />
                            Yes </label>
                        <label class="col-4 radio-inline">
                            <input class="col-4" type="radio" name="newsletter" value="0" checked="checked" />
                            No</label>
                    </div>
                </div>  
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "orders"}}
            {{!-- Order Section --}}
            <div id="orderForm" class="">
                <div class="col-12 bottom-pad-15 no-pad-right">
                    <div class="card top-marg-15">
                        <div class="card-body">
                            <h5 class="card-heading bottom-marg-10">Your Orders</h5>
                            <div id="accordion">
                                {{#unless ../orders}}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        There are no orders for this account. <a class="text-success" href="/">Order
                                            here</a>
                                    </div>
                                </div>
                                {{/unless}}
                                {{#each ../orders}}
                                <div class="card mb-3">
                                    <div class="card-header" id="headingOne">
                                        <p class="mb-0">
                                            OrderId: {{this._id}} -
                                            Date: {{formatDate this.orderDate "DD/MM/YYYY hh:mmA"}}
                                            <button class="btn btn-sm btn-success float-right">
                                                {{this.orderStatus}}
                                            </button>
                                        </p>
                                    </div>
                                    <div id="" class="">
                                        <div class="card-body">
                                            <ul class="list-group">
                                                {{#each this.orderProducts}}
                                                <li class="list-product">
                                                    <div class="orderimage">
                                                        <a href="/product/{{this.link}}">
                                                        {{#if productImage}}
                                                        <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                                                        {{else}}
                                                        <img src="/images/p5.jpeg" alt="{{this.title}} product image"></a>
                                                        {{/if}}</a>
                                                    </div>
                                                    <div class="producttitle">
                                                         <h5>{{this.title}}</h5>
                                                    </div>
                                                    <div class="productprice">
                                                        {{currencySymbol @root.config.currencySymbol}}{{formatAmount this.totalItemPrice}}
                                                    </div>
                                                    <div class="quantity">
                                                        <td class="qty">
                                                            {{this.quantity}}
                                                        </td>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/ifCond}}
        </div>
    </div>
</div>