<div id="account" class="col-md-12 mx-auto top-marg-150 back-user">
    <div class="row">
        <div id="content" class="col-11 col-sm-5 col-md-4 col-lg-3 bg-light1 accountside">

            <div class="account-right">
                <div class="helloaccount">
                    <div class="profileimg">
                        <img src="/images/profileimage.jpg" alt="profileimg">
                    </div>
                    <div class="profiledet">
                        <span class="text-green">Hello</span> <br>
                        <h6><strong>{{@root.session.customerFirstname}}</strong></h6>
                    </div>
                </div>
                <div class="account-part">
                    <div id="editDetails" class="acc-box">
                        <a href="/customer/account">
                            <span><i class="fas fa-info-circle"></i></span><span class="box-heading">Information<br>
                                <h5>Edit your details</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="editAddress" class="acc-box">
                        <a href="/customer/account/address">
                            <span><i class="fas fa-address-book"></i></span><span class="box-heading">Address<br>
                                <h5>Edit your address</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="passwordDetails" class="acc-box">
                        <a href="/customer/account/password">
                            <span><i class="fas fa-lock"></i></span><span>Password<br>
                                <h5>Change Your Passowrd</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="orderDetails" class="acc-box">
                        <a href="/customer/account/orders">
                            <span><i class="fas fa-clipboard-list"></i></span><span>Orders<br>
                                <h5>Check your Orders</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                    <hr>
                    <div id="newsletterDetails" class="acc-box">
                        <a href="/customer/account/newsletter">
                            <span><i class="fas fa-envelope"></i></span><span>Newsletter<br>
                                <h5>Subscribe for Newsletter</h5>
                            </span>
                        </a>
                        <i class="follow fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-11 col-sm-7 col-md-8 col-lg-9 padding-3 top-marg-10">
            {{#ifCond page "==" ""}}
            {{!-- Details Section --}}
            <div id="detailsForm" class="pagewrap checkout_details_area">
                <form id="customer-form" class="form formAccount row" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Personal Information</h4>
                    </div>
                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="email" class="container__label">Email</label>
                        <input type="email" class="container__input customerDetails form-control" id="shipEmail" name="shipEmail"
                            placeholder="Email address" value="{{@root.session.customerEmail}}" disabled></div>
                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="email" class="container__label">Phone</label>
                        <input type="email" class="container__input customerDetails form-control" id="shipEmail" name="shipEmail"
                            placeholder="Email address" value="{{@root.session.customerPhone}}" disabled></div>
                    
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "address"}}
            {{!-- address Section --}}
            <div id="addressForm" class="pagewrap formAddress">
               
                    <div class="container col-12 profhead">
                        <h4>Address Information</h4>
                    </div>
                    {{#each ../customer.deliveryaddress}}
                    <div class="addresses">
                        <div class="address">
                            <div class="number">
                                <div>
                                <h4>{{this.firstname}} {{this.lastname}} {{this.phone}}</h4>
                                </div>
                            </div>
                            <div class="add">
                            {{this.address1}} {{this.city}} {{this.state}}, {{this.postcode}}
                            </div>
                            <div class="button">
                                <a href="/customer/account/editaddress/{{@key}}" >Edit Address</a>
                                <form action="/customer/deleteaddress" method="post">
                                <input type="hidden" name="indexdelete" value="{{@key}}">
                                <button class="delete" ><i class="fas fa-trash"></i></button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                    {{/each}}
                    <div class="newaddress">
                                        <div class="addnewaddress col-12" id="addnew">
                                            <i class="fas fa-plus"></i>
                                            Add New Address
                                            <div class="float-right down">
                                                <i class="fas fa-sort-down"></i>
                                            </div>
                                        </div>

                                    <div class="collapse col-12 checkout_details_area" id="dropdownnew">
                                        <form action="/customer/addnewaddress" method="post" class="row w-100 top-marg-25 bottom-marg-20">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipFirstname" name="shipFirstname" placeholder="First name"
                     required>
                                    </div>
                                    
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipLastname" name="shipLastname" placeholder="Last name"
                    required>
                                    </div>
                                    
                                    
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control mb-3" id="shipAddr1" name="shipAddr1" placeholder="Address"
                    required>
                                    </div>
                                   
                                <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPhone" name="shipPhone" placeholder="Phone number"
                    required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipCity" name="shipCity" placeholder="City"
                    required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipPostcode" name="shipPostcode" placeholder="Pin code"
                    required>
                                    </div>
                                    
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="shipState" name="shipState" placeholder="State"
                     required>
                                    </div>
                                    <div class="button">
                                        <button class="btn btn-primary btn-block btn-shadow"  type="submit">ADD AND USE THIS</button>
                                    </div>
                                    </form>
                                    </div>
                                    </div>
                    
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "editaddress"}}
            <div id="editaddressForm" class="pagewrap formAddress">
                <div class="container col-12 profhead">
                        <h4>Edit Address</h4>
                    </div>
            <div class="editform">
                {{> themes/Cloth/shipping-form}}
            </div>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "password"}}
            {{!-- Password Section --}}
            <div id="passwordForm" class="pagewrap checkout_details_area">
                <form id="customer-form" class="form formAccount row" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Change Password</h4>
                    </div>
                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="pass" class="container__label">Password</label>
                        <input type="password" class="container__input customerDetails form-control" id="newCustomerPassword1" name="newCustomerPassword1" placeholder="Password"
                            value="" required>
                        </div>

                    <div class="container col-12 top-marg-10">
                        <label id="userLabel" for="confirmPass" class="container__label">Confirm</label>
                        <input type="password" class="container__input customerDetails form-control" id="newCustomerPassword" name="newCustomerPassword"
                            placeholder="Confirm Pasword" value="" required>
                        </div>

                    <button class="btn amado-btn top-marg-25 ml-auto mr-3" id="passwordSave" type="button" value="submit">Submit</button>
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "newsletter"}}
            {{!-- Newsletter Section --}}
            <div id="newsletterForm" class="pagewrap newsContainer">
                <form id="customer-form" class="form formAccount" role="form" data-toggle="validator" novalidate="false">
                    <div class="container col-12 profhead">
                        <h4>Subscribe to Newsletter</h4>
                    </div>
                    <div class="d-flex form-group top-marg-25">
                    <label class="m-auto col-sm-2 control-label">Newsletter Subscription</label>
                    <div class="accountInput col-sm-10">
                        <label class="col-4 radio-inline">
                            <input class="col-4" type="radio" name="newsletter" value="1" />
                            Yes </label>
                        <label class="col-4 radio-inline">
                            <input class="col-4" type="radio" name="newsletter" value="0" checked="checked" />
                            No</label>
                    </div>
                </div>  
                </form>
            </div>
            {{/ifCond}}
            {{#ifCond page "==" "orders"}}
            {{!-- Order Section --}}
            <div id="orderForm" class="">
                <div class="col-12 bottom-pad-15 no-pad-right">
                    <div class="card top-marg-15">
                        <div class="card-body" style="padding: 0px;">
                            <h5 class="card-heading bottom-marg-20">YOUR ORDERS</h5>
                            <div id="accordion">
                                {{#unless ../orders}}
                                <div class="card mb-3">
                                    <div class="card-body">
                                        There are no orders for this account. <a class="text-success" href="/">Order
                                            here</a>
                                    </div>
                                </div>
                                {{/unless}}
                                {{#each ../orders}}
                                <div class="card mb-3">
                                    <div class="card-header" id="headingOne">
                                        <p class="mb-0">
                                            <span class="orderid top-marg-10"><span class="id">ORDER ID</span> <span>{{this._id}}</span></span>
                                            <span class="float-right top-marg-10">DATE:- {{formatDate this.orderDate "DD/MM/YYYY hh:mmA"}}</span>
                                            {{!-- <button class="btn btn-sm btn-success float-right">
                                                {{this.orderStatus}}
                                            </button> --}}
                                        </p>
                                    </div>
                                    <div id="" class="">
                                        <div class="card-body flexcardorder">
                                            <ul class="list-group">
                                                {{#each this.orderProducts}}
                                                <li class="list-product">
                                                    <div class="orderimage">
                                                        <a href="/product/{{this.link}}">
                                                        {{#if productImage}}
                                                        <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                                                        {{else}}
                                                        <img src="/images/p5.jpeg" alt="{{this.title}} product image"></a>
                                                        {{/if}}</a>
                                                    </div>
                                                    <div class="producttitle">
                                                         <h5 class="bottom-marg-10">{{this.title}} x <span class="text-green"><strong>{{this.quantity}}</strong></span></h5>
                                                         	 {{currencySymbol @root.config.currencySymbol}}{{formatAmount this.totalItemPrice}}
                                                              
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                            <ul>
                                                <li><strong class="text-warning">Customer Information</strong></li>
                                                <li>{{this.orderFirstname}} {{this.orderLastname}}</li>
                                                <li>{{this.orderAddr1}}</li>
                                                <li>{{this.orderState}}, {{this.orderPostcode}}</li>
                                                <li>{{this.orderPhoneNumber}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="formlevel">
                                            {{#ifCond this.orderStatus "==" "Paid"}}
                                            <div class="stages">                 
                                                <label for="one" class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="active check">&check; <span class="titlelevel">Paid</span></label>
                                                <label for="three">3 <span class="titlelevel">Shipped</span></label>
                                                <label for="four">4 <span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width2"><span></span></span>
                                            {{/ifCond}} 
                                            {{#ifCond this.orderStatus "==" "Shipped"}}
                                            <div class="stages">                 
                                                <label for="one"class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="check">&check;<span class="titlelevel">Paid</span></label>
                                                <label for="three" class="active check">&check;<span class="titlelevel">Shipped</span></label>
                                                <label for="four"> 4 <span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width3"><span></span></span>
                                            {{/ifCond}}
                                            {{#ifCond this.orderStatus "==" "Completed"}}
                                            <div class="stages">                 
                                                <label for="one" class="check">&check; <span class="titlelevel">Ordered</span></label>
                                                <label for="two" class="check">&check;<span class="titlelevel">Paid</span></label>
                                                <label for="three" class="check">&check;<span class="titlelevel">Shipped</span></label>
                                                <label for="four" class="active check">&check;<span class="titlelevel">Delivered</span></label>
                                            </div>
                                                <span class="progress1 width4"><span></span></span>
                                            {{/ifCond}}             	
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/ifCond}}
        </div>
    </div>
</div>
  <script>
      $('#addnew').on('click',()=>{
          if($('#dropdownnew').hasClass('show')){
              $('#dropdownnew').removeClass('show');
          }
          else{
            $('#dropdownnew').addClass('show');
          }
      
    });
  </script>
<script>
    $('.formlevel .stages label').click(function() {
	var radioButtons = $('.formlevel input:radio');
	var selectedIndex = radioButtons.index(radioButtons.filter(':checked'));
	selectedIndex = selectedIndex + 1;
});

$('.formlevel button').click(function() {
	var radioButtons = $('.formlevel input:radio');
	var selectedIndex = radioButtons.index(radioButtons.filter(':checked'));

	selectedIndex = selectedIndex + 2;

	$('.formlevel input[type="radio"]:nth-of-type(' + selectedIndex + ')').prop('checked', true);

	if (selectedIndex == 6) {
		$('button').html('Submit');
	}
});
</script>