
{{> themes/Cloth/front-menu}}

{{!-- <div class="productsWrapper col-sm-12 col-md-8 offset-md-2">

    {{#if filtered}}
        <div class="product-layout product-results col-sm-12">
            {{#ifCond @root.paginateUrl '==' 'category'}}
            <h1>{{ @root.__ "Category" }}: <strong>{{@root.searchTerm}}</strong></h1>
            {{else}}
            <h1>{{ @root.__ "Search results" }}: <strong>{{@root.searchTerm}}</strong></h1>
            {{/ifCond}}
        </div>
    {{/if}}
    <div class="row product-layout">
        {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
        {{#each results}}
            <div class="{{perRowClass ../config.productsPerRow}}">
                <div class="thumbnail">
                    {{#if productPermalink}}
                        <div class="product-wrapper">
                            <a href="/product/{{this.productPermalink}}">
                                <div class="vertical-center img-thumbnail">
                                    {{#if productImage}}
                                        <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                    {{else}}
                                        <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                    {{/if}}
                                </div>
                                <h3 class="product-title product-title-home top-pad-10">
                                    {{this.productTitle}}
                                </h3>
                            </a>
                        </div>
                    {{else}}
                        <a href="/product/{{this._id}}">
                            <div class="vertical-center img-thumbnail">
                                {{#if productImage}}
                                    <img class="img-fluid" src="{{this.productImage}}" alt="...">
                                {{else}}
                                    <img class="img-fluid" src="/uploads/placeholder.png" alt="...">
                                {{/if}}
                            </div>
                            <h3 class="product-title product-title-home top-pad-10">
                                {{this.productTitle}}
                            </h3>
                        </a>
                    {{/if}}
                    {{#if variants}}
                        <div class="col-md-12">
                            {{#if @root.config.showHomepageVariants}}
                            <select id="productVariant-{{this._id}}" class="productVariant form-control mb-2">
                            {{#each variants}}
                                <option value="{{this._id}}" data-price="{{this.price}}">{{this.title}} - {{currencySymbol @root.config.currencySymbol}}{{this.price}}</option>
                            {{/each}}
                            </select>
                            {{else}}
                            <h4 class="product-price mp-0 text-center">
                                {{currencySymbol @root.config.currencySymbol}}{{formatAmount variants.0.price}}
                            </h4>
                            {{/if}}
                        </div>
                    {{else}}
                        <h4 class="product-price mp-0 text-center">
                            {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}
                        </h4>
                    {{/if}}
                    <p class="text-center">
                        {{#if @root.config.showHomepageVariants}}
                        <a class="btn btn-primary add-variant-to-cart" data-id="{{this._id}}" role="button">{{ @root.__ "Add to cart" }}</a>
                        {{else}}
                        <a class="btn btn-primary add-to-cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}" role="button">{{ @root.__ "Add to cart" }}</a>
                        {{/if}}
                    </p>
                </div>
            </div>
        {{/each}}
    </div>
</div>  --}}


<div class="Categories">
  <h3>New Arrival
    <hr>
  </h3>
  <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each results}}
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                             {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpg" alt="Second Image">
                                {{/if}}
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpg" alt="Second Image">
                                {{/if}}
                            </div>
                            </a>
                            {{/if}}

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                    {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6>{{this.productTitle}}</h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6>{{this.productTitle}}</h6>
                                    </a>
                                    {{/if}}
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                    <div class="cart">
                                        {{#if this.productStock}}
                                        <a class="btn-round" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"><img src="/images/cart.png" alt=""></a>
                                        {{else}}
                                        <a class=""><img src="/images/cart.png" alt=""></a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>



<div class="offers1">
  <div class="fix-container">
    <div class="single-products-catagory hi-100">
    <a href="/category/newarrival"><img class="hi-100" src="/images/slider1-side.jpg" alt="">
    <div class="hover-content">
        <div class="line"></div>
        <p>From ₹149</p>
        <h4>New Plants for decoration</h4>
    </div>
    </a>
    </div>
  </div>
  <div class="float-container">
    <div class="floatinner">
              <div class="products-catagories-area">
            <div class="amado-pro-catagory">

                {{!-- Insider slider 1 --}}

                <div class="inside-slider1">
                               <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/roomrefresher">
                        <img src="/images/2.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Room Refreshing Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/top5indoorplant">
                        <img src="/images/5.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Top 5 Indoor Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/giftingplants">
                        <img src="/images/4.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Gifting Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/herbalplants">
                        <img src="/images/6.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Herbal Plants</h4>
                        </div>
                    </a>
                </div> 
                  </div>
                {{!-- Insider Slider 2 --}}
                <div class="inside-slider2">
                      <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/officedeskplant">
                        <img src="/images/4.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Office Desk Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/decorativeplant">
                        <img src="/images/6.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Decorative Plant</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/bonsai">
                        <img src="/images/2.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹449</p>
                            <h4>Bonsai Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/flowering">
                        <img src="/images/5.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Flowering Plants</h4>
                        </div>
                    </a>
                </div>        

                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="Categories">
  <h3>Best Buy
    <hr>
  </h3>
    <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each results}}
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                                {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpg" alt="Second Image">
                                {{/if}}
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpg" alt="Second Image">
                                {{/if}}
                            </div>
                            </a>
                            {{/if}}

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price">{{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                    {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6>{{this.productTitle}}</h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6>{{this.productTitle}}</h6>
                                    </a>
                                    {{/if}}
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                    <div class="cart">
                                        {{#if this.productStock}}
                                        <a class="btn-round" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"><img src="/images/cart.png" alt=""></a>
                                        {{else}}
                                        <a class=""><img src="/images/cart.png" alt=""></a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>

<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">
{{!-- <div class="col-md-12">
  <div id="pager" class="d-flex justify-content-center"></div>
</div> --}}

