
{{> themes/Cloth/front-menu}}
<div class="offstripe">
    Buy Plants in Pack to Get Exiting Offers
</div>
<div class="covidwarning">
    <img src="/images/safedeliverygif.gif" alt="Safe Delivery Gif">
    <img src="/images/safedelivery.png" alt="Safe Delivery">
</div>


<div class="Categories">
  <h3>Trending Now
    <hr>
  </h3>
  <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each results}}
    <div class="col-6 col-sm-4 col-md-4 col-lg-4 card1">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                             {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                    <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                <div class="tags">
                                    {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                    {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{/if}}

                            <!-- Product Description -->
                            <div class="product-description justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{/if}}
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart d-flex flex-wrap justify-content-between text-right">
                                     <p class="product-price">{{#if productDiscountPrice}} <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount productDiscountPrice}}</span> {{/if}} {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                    <div class="cart">
                                        {{#if this.productStock}}
                                        <a class="btn-round" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"><img src="/images/cart.png" alt=""></a>
                                        {{else}}
                                        <a class="">OUT OF STOCK</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>

{{!-- First Add --}}

<div class="imagesoffer1upper">
    <h3>Plant That Fits Your Space
    <hr>
  </h3>
    <div class="imagesoffer1 top-marg-25">
    <a href="/category/bonsai"><img src="/images/toppicks.jpeg" alt=""></a>
    <a href="/category/herbs kitchen"><img src="/images/herbs.jpeg" alt=""></a>
    <a href="/category/hanging"><img src="/images/hangingplant.jpeg" alt=""></a>
</div>
</div>

{{!-- Secode Design --}}

<div class="Categories">
  <h3>New Arrival
    <hr>
  </h3>
    <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each topProducts}}
    <div class="col-6 col-sm-5 col-md-4 card2">
                        <div class="single-product-wrapper second-product-wrapper">
                            <!-- Product Image -->
                                {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                    <div class="newarrival">
                                        New
                                    </div>
                                        {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                        {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{/if}}
                            <div class="titlename">
                                 {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{/if}}
                            </div>
                            <!-- Product Description -->
                            <div class="product-description2">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                   {{#if this.productDiscountPrice}}
                                   <p class="product-price"> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount productDiscountPrice}}</span> {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                   {{else}}
                                   <p class="product-price">{{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                   {{/if}}
                                   <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    {{#if productPermalink}}
                                    <a class="btnview bg-green" href="/product/{{this.productPermalink}}">
                                        VIEW
                                    </a>
                                    {{else}}
                                    <a class="btnview bg-green" href="/product/{{this._id}}">
                                        VIEW
                                    </a>
                                    {{/if}}
                                    

                                        {{#if this.productStock}}
                                        <a class="btn-round btncart" data-id="{{this._id}}">ADD TO CART</a>
                                        {{else}}
                                        <a class="btncart">ADD TO CART</a>
                                        {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>


<div class="offers1">
  <div class="fix-container">
    <div class="single-products-catagory hi-100">
    <a href="/category/decor"><img class="hi-100" src="/images/slider1-side.jpg" alt="">
    <div class="hover-content">
        <div class="line"></div>
        <p>From ₹149</p>
        <h4>New Plants for decoration</h4>
    </div>
    </a>
    </div>
  </div>
  <div class="float-container">
    <div class="floatinner">
              <div class="products-catagories-area">
            <div class="amado-pro-catagory">

                {{!-- Insider slider 1 --}}

                <div class="inside-slider1">
                               <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/RoomRefreshner">
                        <img src="/images/2.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Room Refreshing Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/top_5">
                        <img src="/images/5.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Top 5 Indoor Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/gifting">
                        <img src="/images/4.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Gifting Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/herbal">
                        <img src="/images/6.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Herbal Plants</h4>
                        </div>
                    </a>
                </div> 
                  </div>
                {{!-- Insider Slider 2 --}}
                <div class="inside-slider2">
                      <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/desk">
                        <img src="/images/4.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Office Desk Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/decor">
                        <img src="/images/6.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Decorative Plant</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/bonsai">
                        <img src="/images/2.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹449</p>
                            <h4>Bonsai Plants</h4>
                        </div>
                    </a>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/category/flowering">
                        <img src="/images/5.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From ₹149</p>
                            <h4>Flowering Plants</h4>
                        </div>
                    </a>
                </div>        

                </div>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="Categories">
  <h3>Exotic Plants
    <hr>
  </h3>
    <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each plant4uspecial}}
    <div class="col-6 col-sm-4 col-md-4 col-lg-4 card1">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                             {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                    <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                <div class="tags">
                                    {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                    {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{/if}}

                            <!-- Product Description -->
                            <div class="product-description justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{/if}}
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart d-flex flex-wrap justify-content-between text-right">
                                     <p class="product-price">{{#if productDiscountPrice}} <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount productDiscountPrice}}</span> {{/if}} {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                    <div class="cart">
                                        {{#if this.productStock}}
                                        <a class="btn-round" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"><img src="/images/cart.png" alt=""></a>
                                        {{else}}
                                        <a class="">OUT OF STOCK</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>
<a href="/category/exotic" class="w-100 text-white">
<div class="offstripe">
    See More >>
</div></a>
<div class="Categories">
  <h3>Pack Deals
    <hr>
  </h3>
    <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each packplants}}
    <div class="col-6 col-sm-5 col-md-4 card2">
                        <div class="single-product-wrapper second-product-wrapper third-product-wrapper">
                            <!-- Product Image -->
                                {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/pack3.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/pack3.jpg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                        {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/pack3.jpg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/pack4.jpg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                        {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{/if}}
                            <div class="titlename">
                                 {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h5>{{this.productTitle}}</h5>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h5>{{this.productTitle}}</h5>
                                    </a>
                                    {{/if}}
                            </div>
                            <!-- Product Description -->
                            <div class="product-description2">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                   {{#if this.productDiscountPrice}}
                                   <p class="product-price"> <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount productDiscountPrice}}</span> {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                   {{else}}
                                   <p class="product-price">{{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                   {{/if}}
                                   <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                        {{#if this.productStock}}
                                            <a class="btn-round btncart" data-id="{{this._id}}">ADD TO CART</a>
                                        {{else}}
                                            <a class="btncart">ADD TO CART</a>
                                        {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>

<input type="hidden" id="itemsPerPage" value="{{productsPerPage}}">
<input type="hidden" id="pageNum" value="{{pageNum}}">
<input type="hidden" id="totalItemCount" value="{{totalProductCount}}">
<input type="hidden" id="paginateUrl" value="{{paginateUrl}}">
<input type="hidden" id="searchTerm" value="{{searchTerm}}">

<div class="freedelivery">
    Free Delivery On Order Over ₹999
    <i class="fas fa-truck-moving i"></i>
</div>
<div class="Categories">
  <h3>Planters
    <hr>
  </h3>
  <div class="row top-marg-25">
      {{#ifCond results.length '==' 0}}
            <div class="col-sm-12">
                <p class="text-danger">{{ @root.__ "No products found" }}</p>
            </div>
        {{/ifCond}}
    {{#each pattharproduct}}
    <div class="col-6 col-sm-4 col-md-4 col-lg-4 card1">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                             {{#if productPermalink}}
                             <a href="/product/{{this.productPermalink}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                    <div class="ratings">
                                        {{#forTimes this.productRating}}
                                        <i class="fas fa-star i"></i>
                                        {{/forTimes}}
                                        {{#forTimesminus this.productRating}}
                                        <i class="far fa-star i"></i>
                                        {{/forTimesminus}}
                                    </div>
                                <div class="tags">
                                    {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{else}}
                            <a href="/product/{{this._id}}">
                            <div class="product-img">
                                {{#if productImage}}
                                
                                    <img src="{{this.productImage.[0].path}}" alt="First Uploaded Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="{{this.productImage.[1].path}}" alt="Second Image">
                                {{else}}
                                    <img src="/images/p5.jpeg" alt="First Image">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="/images/p1.jpeg" alt="Second Image">
                                {{/if}}
                                <div class="tags">
                                    {{#if productDiscountPrice}}
                                    <div class="discount">
                                        {{#discount productPrice productDiscountPrice}}
                                            {{this}}
                                        {{/discount}}% Off
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                            {{/if}}

                            <!-- Product Description -->
                            <div class="product-description justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    {{#if productPermalink}}
                                    <a href="/product/{{this.productPermalink}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{else}}
                                    <a href="/product/{{this._id}}">
                                        <h6><strong>{{this.productTitle}}</strong></h6>
                                    </a>
                                    {{/if}}
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart d-flex flex-wrap justify-content-between text-right">
                                     <p class="product-price">{{#if productDiscountPrice}} <span>{{currencySymbol @root.config.currencySymbol}}{{formatAmount productDiscountPrice}}</span> {{/if}} {{currencySymbol @root.config.currencySymbol}}{{formatAmount productPrice}}</p>
                                    <div class="cart">
                                        {{#if this.productStock}}
                                        <a class="btn-round" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-id="{{this._id}}" data-link="{{this.productPermalink}}" data-has-variants="{{checkProductVariants this.variants}}"><img src="/images/cart.png" alt=""></a>
                                        {{else}}
                                        <a class="">OUT OF STOCK</a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{{/each}}
  </div>
</div>
<a href="/category/planters" class="w-100 text-white">
<div class="offstripe">
    See More >>
</div></a>
<div class="query-form">
    <div class="container">
        <div class="row">
            <div class="col-12 feedback-heading">
                <h3>Feedback Form</h3>
    <h4>You can send us any improvement ie. Any new product you want, Any service you want improved, Any new Service</h4>
    </div>
    <form method="post" name="feedback-form" class="checkout_details_area col-12 col-md-10 mx-auto row">
        <div class="form-group col-12 col-md-6 col-lg-6">
            <input class="form-control" type="text" id="feedbackname" name="name"
                placeholder="Your Name" required>
        </div>
        <div class="form-group col-12 col-md-6 col-lg-6">
            <input class="form-control" type="email" id="feedbackemail" name="email"
                placeholder="Your Email" required>
        </div>
        <div class="form-group col-12">
            <input class="form-control" type="text" id="feedbackmessage" name="message"
                placeholder="Feedback Message" required>
        </div>
        <div class="success-response col-12">
            Your Query has been Recorded
        </div>
        <div class="error-response col-12">
            We encounter Some error sending your message
        </div>
        <div class="form-group col-12 submitbutton">
            <button type="submit" class="mx-auto amado-btn">Send Query</button>
        </div>
        
    </form>
            
        </div>
    </div>
</div>

<div class="prefooter">
<p><strong>Plant4u- India&rsquo;s Best Online Nursery</strong></p>
<p><span style="font-weight: 400;">Did you ever imagine that the freshest of </span><strong>Plants</strong><span style="font-weight: 400;">, top quality Seasonal plants,</span> <span style="font-weight: 400;">indoor plants and hundreds of different variety of plant items could be handpicked and delivered to your home, all at the click of a button? India&rsquo;s Best comprehensive online mega nursery, Plant4u.in, brings a whopping thousands of products with more than 100+ variety, to our happy customers. From houseplants to decorative plants, Plant4u has everything you need for your home. Plant4u.in is convenience personified. We've taken away all the stress associated with shopping for plant and you can now order all your houseplants and even buy other decorative eco green items online without travelling long distances or standing in serpentine queues. Add to this the convenience of finding all your requirements at one single source, along with great savings, and you will realize that Plant4u- India&rsquo;s best online nursery, has revolutionized the way India shops for groceries. Online grocery shopping has never been easier. Need things fresh? Whether it&rsquo;s plants, We deliver to many cities across India and maintain excellent delivery times, ensuring that all your products reach you in time.</span></p>
<br>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">1.   Express Delivery: This super useful service can be availed by customers in cities like&nbsp; Delhi-NCR in which we deliver your orders to your doorstep in 1 day.</span></li>
</ul>
<br>
<p><strong>India&rsquo;s best Online nursery</strong></p>
<p><span style="font-weight: 400;">Plant4u.in believes in providing the highest level of customer service and is continuously innovating to meet customer expectations. however, due to the pandemic caused by Covid-19 our delivery might get delayed. But Delivery Guarantee will be applicable. For all your order values above Rs.999, we provide free delivery. A wide range of imported plants are available through our express delivery and slotted delivery service. If you ever find an item missing on delivery or want to return a product, you can report it to us within 48 hours for a &lsquo;no-questions-asked&rsquo; refund.</span></p>
<p><strong>Best quality Plants for our quality-conscious customers.</strong></p>
<p><span style="font-weight: 400;">Plant4u is synonymous with superior quality and continues to strive for higher levels of customer trust and confidence, by taking feedback and giving our customers what they want. We have added the convenience of potted plants of customer choice. If it&rsquo;s a product category you&rsquo;re looking to shop from, we&rsquo;ve made it convenient for you to access all products in a section easily.&nbsp;</span></p>
<p><span style="font-weight: 400;">When it comes to payment, we have made it easy for our customers can pay through multiple payment channels like Credit and Debit cards, Internet Banking, e-wallets or simply pay Cash on Delivery (COD).The convenience of shopping for plants, while not compromising on quality, has made Plant4u the best online nursery of choice for many happy customers across India.</span></p>
<p><br /></p>
<p><strong class="text-green">POPULAR CATEGORIES: </strong><span style="font-weight: 400;"><a href="/category/bathroom" target="__blank">Bathroom plants</a>, <a href="/category/living" target="__blank">Living room</a>, <a href="/category/bedroom" target="__blank">Bedroom</a>, <a href="/category/decorative" target="__blank">Decorative</a>, <a href="/category/airpurifier" target="__blank">Air purifier</a>, <a href="/category/gifting">Gifting</a>, <a href="/category/bonsai">Bonsais</a>, <a href="/category/succulents" target="__blank">Succulents</a>, <a href="/category/cactus" target="__blank">Cactus</a>, <a href="/category/sansevieria" target="__blank">Sansevieria varieties</a></span></p>
<p><strong class="text-green">POPULAR Plants:</strong><span style="font-weight: 400;"> Sansevieria trifasciata Laurentii, Aloevera, Money plant golden, Dwarf Sirisa Bonsai, Peace lily, Jade Bonsai, New moss, snake plant, Ficus bonsai, Air purifier money Plant golden</span></p>
<p><strong class="text-green">CITIES WE SERVE: </strong><span style="font-weight: 400;">Delhi, Ghaziabad, Noida, Gurgaon. (Covering all the localities)</span></p>


</div>
<script>
    
    const scriptURL = 'https://script.google.com/macros/s/AKfycbzDONsdjO_C6z7f6ePMuU28wB7467FxVLX1lIJIaSYNWi5PPw/exec'
  const form = document.forms['feedback-form']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => {
          $('#feedbackname').val("");
          $('#feedbackemail').val("");
          $('#feedbackmessage').val("");
          $('.success-response')[0].style.display = 'block';
      })
      .catch(error => {
          $('#feedbackname').val("");
          $('#feedbackemail').val("");
          $('#feedbackmessage').val("");
          $('.error-response')[0].style.display = 'block';
      })
  })
</script>
