<div class="successpage container">
  <div class="thankyouhead row">
    <div class="col-12 text-center top-marg-15">
      <div class="icon col-12">
      <i class="far fa-check-circle"></i>
    </div>
    <br>
      <h1>Thank You for your order!</h1>
      <p class="info">We are happy that you find something of your interest. 
        <i class="far fa-smile"></i>
      </p>
      <p class="info"><i class="fas fa-envelope"></i>
      You will recieve a confirmation mail to your registered Email Id</p>
    </div>
    <br>
    <div class="row col-12 col-md-10 col-lg-8 mx-auto top-marg-25 text-center">
      <div class="col-12 col-lg-8 infoorder mx-auto bottom-marg-15">
        <h6>Order Information</h6>
      </div>
      <div class="emailinfo float-right col-12 col-sm-6">
      <h6>User Info</h6>
      <p>{{result.[0].orderEmail}}</p>
      <p>{{result.[0].orderPhoneNumber}}</p>
      <p>OrderId: {{#each result}}{{this._id}} <br>{{/each}}</p>
    </div>
    <div class="shippingaddress float-right col-12 col-sm-6">
      <h6>Shipping Address</h6>
      <p>{{result.[0].orderAddr1}} {{result.[0].orderCity}} ,{{result.[0].orderState}}</p>
      <p>{{result.[0].orderPostcode}}</p>
    </div>
    <div class="cart-table-area col-12 col-lg-8  mx-auto top-marg-25 text-start cart-table-area">
      <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {{#each result}}
                                {{#each this.orderProducts}}
                                    <tr class="align-items-center">
                                        <td class="cart_product_img">
                                            <a href="/product/{{this.link}}">
                                            {{#if productImage}}
                                            <img src="{{this.productImage.[0].path}}" alt="{{this.title}} product image"></a>
                                            {{else}}
                                            <img src="/images/p5.jpeg" alt="{{this.title}} product image"></a>
                                            {{/if}}</a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>{{this.title}}</h5>
                                        </td>
                                        <td class="price" style="font-weight: bold;">
                                           {{currencySymbol @root.config.currencySymbol}}{{formatAmount this.totalItemPrice}}
                                        </td>
                                        <td class="qty">
                                                {{this.quantity}}
                                        </td>
                                    </tr>
                                {{/each}} 
                                {{/each}}
                                </tbody>
                            </table>
    </div>
    </div>
  </div>
</div>